body {
    margin: 0;
    background-color: #1C1C1C;
}

.container {
    width: 446px;
    margin: 64px auto;
    background-color: #1F2937;
    padding: 115px 52px;
    font-family: "Karla", sans-serif;
}

.title {
    width: 354px;
    font-size: 40px;
    color: white;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 10px;
}

.green-text {
    color: #4ADF86;
}

.text {
    color: #D5D4D8;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.btn {
    margin-top: 51px;
    font-family: "Inter", sans-serif;
    color: white;
    background-color: #4ADF86;
    border: none;
    padding: 9px 17px;
    border-radius: 6px;
    font-size: 16px;
}

.horizontal-lane {
    border: none;
    height: 1px;
    background-color: #2F3E53;
    width: 100%;
    margin: 35px 0;
}

.pass-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.pass-btn {
    border-radius: 6px;
    width: 211px;
    height: 39px;
    background-color: #273549;
    border: none;
    color: #4ADF86;
    font-family: "Inter", sans-serif;
}

#length-input {
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 6px;
}

.check-container {
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: white;
}